<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.legend.dao.AmmeterDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.legend.dao.domain.AmmeterDevice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="meter_no" property="meterNo" jdbcType="VARCHAR" />
    <result column="ass_manage_code" property="assManageCode" jdbcType="VARCHAR" />
    <result column="rated_voltage" property="ratedVoltage" jdbcType="VARCHAR" />
    <result column="rated_current" property="ratedCurrent" jdbcType="VARCHAR" />
    <result column="max_current" property="maxCurrent" jdbcType="VARCHAR" />
    <result column="active_acc_level" property="activeAccLevel" jdbcType="VARCHAR" />
    <result column="reactive_acc_level" property="reactiveAccLevel" jdbcType="VARCHAR" />
    <result column="active_constant" property="activeConstant" jdbcType="INTEGER" />
    <result column="reactive_constant" property="reactiveConstant" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="protocol_no" property="protocolNo" jdbcType="VARCHAR" />
    <result column="software_no" property="softwareNo" jdbcType="VARCHAR" />
    <result column="hardware_no" property="hardwareNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imsi, address, meter_no, ass_manage_code, rated_voltage, rated_current, max_current, 
    active_acc_level, reactive_acc_level, active_constant, reactive_constant, type, product_date, 
    protocol_no, software_no, hardware_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ammeter_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ammeter_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.legend.dao.domain.AmmeterDevice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_device (imsi, address, meter_no, 
      ass_manage_code, rated_voltage, rated_current, 
      max_current, active_acc_level, reactive_acc_level, 
      active_constant, reactive_constant, type, 
      product_date, protocol_no, software_no, 
      hardware_no)
    values (#{imsi,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{meterNo,jdbcType=VARCHAR}, 
      #{assManageCode,jdbcType=VARCHAR}, #{ratedVoltage,jdbcType=VARCHAR}, #{ratedCurrent,jdbcType=VARCHAR}, 
      #{maxCurrent,jdbcType=VARCHAR}, #{activeAccLevel,jdbcType=VARCHAR}, #{reactiveAccLevel,jdbcType=VARCHAR}, 
      #{activeConstant,jdbcType=INTEGER}, #{reactiveConstant,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{productDate,jdbcType=TIMESTAMP}, #{protocolNo,jdbcType=VARCHAR}, #{softwareNo,jdbcType=VARCHAR}, 
      #{hardwareNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.legend.dao.domain.AmmeterDevice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ammeter_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imsi != null" >
        imsi,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="meterNo != null" >
        meter_no,
      </if>
      <if test="assManageCode != null" >
        ass_manage_code,
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage,
      </if>
      <if test="ratedCurrent != null" >
        rated_current,
      </if>
      <if test="maxCurrent != null" >
        max_current,
      </if>
      <if test="activeAccLevel != null" >
        active_acc_level,
      </if>
      <if test="reactiveAccLevel != null" >
        reactive_acc_level,
      </if>
      <if test="activeConstant != null" >
        active_constant,
      </if>
      <if test="reactiveConstant != null" >
        reactive_constant,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="protocolNo != null" >
        protocol_no,
      </if>
      <if test="softwareNo != null" >
        software_no,
      </if>
      <if test="hardwareNo != null" >
        hardware_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="meterNo != null" >
        #{meterNo,jdbcType=VARCHAR},
      </if>
      <if test="assManageCode != null" >
        #{assManageCode,jdbcType=VARCHAR},
      </if>
      <if test="ratedVoltage != null" >
        #{ratedVoltage,jdbcType=VARCHAR},
      </if>
      <if test="ratedCurrent != null" >
        #{ratedCurrent,jdbcType=VARCHAR},
      </if>
      <if test="maxCurrent != null" >
        #{maxCurrent,jdbcType=VARCHAR},
      </if>
      <if test="activeAccLevel != null" >
        #{activeAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="reactiveAccLevel != null" >
        #{reactiveAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="activeConstant != null" >
        #{activeConstant,jdbcType=INTEGER},
      </if>
      <if test="reactiveConstant != null" >
        #{reactiveConstant,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="protocolNo != null" >
        #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareNo != null" >
        #{softwareNo,jdbcType=VARCHAR},
      </if>
      <if test="hardwareNo != null" >
        #{hardwareNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.legend.dao.domain.AmmeterDevice" >
    update ammeter_device
    <set >
      <if test="imsi != null" >
        imsi = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="meterNo != null" >
        meter_no = #{meterNo,jdbcType=VARCHAR},
      </if>
      <if test="assManageCode != null" >
        ass_manage_code = #{assManageCode,jdbcType=VARCHAR},
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage = #{ratedVoltage,jdbcType=VARCHAR},
      </if>
      <if test="ratedCurrent != null" >
        rated_current = #{ratedCurrent,jdbcType=VARCHAR},
      </if>
      <if test="maxCurrent != null" >
        max_current = #{maxCurrent,jdbcType=VARCHAR},
      </if>
      <if test="activeAccLevel != null" >
        active_acc_level = #{activeAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="reactiveAccLevel != null" >
        reactive_acc_level = #{reactiveAccLevel,jdbcType=VARCHAR},
      </if>
      <if test="activeConstant != null" >
        active_constant = #{activeConstant,jdbcType=INTEGER},
      </if>
      <if test="reactiveConstant != null" >
        reactive_constant = #{reactiveConstant,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="protocolNo != null" >
        protocol_no = #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="softwareNo != null" >
        software_no = #{softwareNo,jdbcType=VARCHAR},
      </if>
      <if test="hardwareNo != null" >
        hardware_no = #{hardwareNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.legend.dao.domain.AmmeterDevice" >
    update ammeter_device
    set imsi = #{imsi,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      meter_no = #{meterNo,jdbcType=VARCHAR},
      ass_manage_code = #{assManageCode,jdbcType=VARCHAR},
      rated_voltage = #{ratedVoltage,jdbcType=VARCHAR},
      rated_current = #{ratedCurrent,jdbcType=VARCHAR},
      max_current = #{maxCurrent,jdbcType=VARCHAR},
      active_acc_level = #{activeAccLevel,jdbcType=VARCHAR},
      reactive_acc_level = #{reactiveAccLevel,jdbcType=VARCHAR},
      active_constant = #{activeConstant,jdbcType=INTEGER},
      reactive_constant = #{reactiveConstant,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      protocol_no = #{protocolNo,jdbcType=VARCHAR},
      software_no = #{softwareNo,jdbcType=VARCHAR},
      hardware_no = #{hardwareNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>